<h2>@Model["band"].GetName() has played at...</h2>
<ul>
@foreach (var venue in Model["band"].GetVenuesPlayed())
{
  <li>@venue.GetName()</li>
}
</ul>

<h4>Add venue</h4>
<form action="/bands/venues/add/@Model["band"].GetId()" method="post">
  <select name="venue">
    @foreach (var venue in Model["venues"])
    {
    <option value="@venue.GetName()">@venue.GetName()</option>
    }
  </select>
  <button type="submit">Add</button>
</form>
<a href="/">Home</a><br>
<a href="/bands">List bands</a><br>
<a href="/venues">List venues</a><br>
