<form action="/bands/delete/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">Confirm Delete @Model.GetName()</button>
</form>
<a href="/">or GO BACK</a>
