<h2>Change name for @Model.GetName()</h2>
<form action="/bands/edit/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input name="band-id" type="hidden" value="@Model.GetId()">
  <label for="band-name">New band name</label>
  <input id="band-name" name="band-name" type="text">
  <button type="submit">Change name</button>
</form>
