<ul>
@foreach(var venue in Model) {
  <li>@venue.GetName() /// <a href="/venues/bands/@venue.GetId()">see bands who have played a show at @venue.GetName()</a> /// <a href="/venues/delete/@venue.GetId()">REMOVE THIS VENUE</a> /// <a href="/venues/edit/@venue.GetId()">CHANGE THIS VENUE'S NAME</a> ///</li>
}
</ul>
<a href="/venues/add">Add a venue</a>
<a href="/">Go home</a>
